// Main colours

:root {
    --chum-dark: #c48a00;
    --chum-medium: #fdb302;
    --chum-light: #fff700;
    --chum-sidebar-width: 300px;
}

$dark: var(--chum-dark);
$medium: var(--chum-medium);
$light: var(--chum-light);

$black: #000000;
$grey: #4f5660;
$white: #ffffff;

.theme-dark {
    --chum-background: #{$black};
    --chum-foreground: #{$white};
}
.theme-light {
    --chum-background: #{$white};
    --chum-foreground: #{$black};
}

$background: var(--chum-background);
$foreground: var(--chum-foreground);

// Sizes

$size-max: 999px;
$size-border: 4px;
