// Colours

// Main colours
$dark: #c48a00;
$medium: #fdb302;
$light: #fff700;

// Header colours
$header-normal: #d5b975;
$header-hover: #eddbb1;
$header-active: #fff;

$black: #000000;
$grey: #4f5660;
$white: #ffffff;

$background: var(--chum-background);
$foreground: var(--chum-foreground);

.theme-dark {
    --chum-background: #{$black};
    --chum-foreground: #{$white};
}
.theme-light {
    --chum-background: #{$white};
    --chum-foreground: #{$black};
}

// Channel
$channel: #8e9297;
$normal-content: #b9bbbe;
$hover-content: #dcddde;
$active-content: #fff;
$muted-content: #4f545c;
$hover-bg: rgba(79, 84, 92, 0.16);
$active-bg: rgba(79, 84, 92, 0.24);
$selected-bg: rgba(79, 84, 92, 0.32);
$accent-bg: hsla(0, 0%, 100%, 0.06);

// Sizes
$size-max: 999px;
