// @forward "./main";
@forward "./overlay";
@forward "./part";

@import url("https://minidiscordthemes.github.io/Squared/sq.min.css");

.theme-dark,
.theme-light {
    --l-normal: #d5b975;
    --l-hover: #eddbb1;
    --l-active: #fff;

    --channels-alt: #8e9297;
    --alt-normal: #b9bbbe;
    --alt-hover: #dcddde;
    --alt-active: #fff;
    --alt-muted: #4f545c;

    --p-primary: #fdb302;
    --p-secondary: #c48a00;
    --p-teriary: #fff700;

    --alt-modifier-hover: rgba(79, 84, 92, 0.16);
    --alt-modifier-active: rgba(79, 84, 92, 0.24);
    --alt-modifier-selected: rgba(79, 84, 92, 0.32);
    --alt-modifier-accent: hsla(0, 0%, 100%, 0.06);

    --bg-overlay-2: rgba(0, 0, 0, 1);
    --bg-overlay-3: rgba(0, 0, 0, 1);
    --bg-overlay-5: var(--p-primary);

    --on-black-color: rgba(40, 40, 40, 1);
}
.theme-dark {
    --background-primary: black;
    --background-secondary: #232527;
    --background-mentioned: rgba(250, 166, 26, 0.15);
    --background-mentioned-hover: rgba(250, 166, 26, 0.18);
    --background-message-hover: rgba(216, 216, 220, 0.08);
    --scrollbar-auto-thumb: #40444a;

    --server-icon-col: white;
}
.theme-light {
    --channeltextarea-background: #fff;

    --background-modifier-hover: rgba(116, 127, 141, 0.09);
    --background-modifier-active: rgba(116, 127, 141, 0.18);
    --background-modifier-selected: rgba(116, 127, 141, 0.27);
    --background-message-hover: rgba(6, 6, 7, 0.06);

    --server-icon-col: black;
}

// /* user activity (like Listening to Spotify etc.) */
// .activity-1-H7Zd {
//     color: white;
// }

// /* WAH WAH WAH */
// .scroller-WSmht3 {
//     background-color: rgba(0, 0, 0, 0);
// }

// .privateChannels-oVe7HL {
//     background: black;
//     margin: 8px;
//     margin-top: 0px;
//     border: 0.5vh solid;
//     border-color: var(--p-teriary);
// }
// .container-YkUktl {
//     background: black;
//     margin: 8px;
//     border: 0.5vh solid;
//     border-color: var(--p-teriary);
// }
// .panels-3wFtMD {
//     background-color: var(--p-primary);
// }
// .scroller-WSmht3 {
//     background: black;
// }

// .sidebar-1tnWFu > .container-1NXEtd > .container-1-ERn5 > .animatedContainer-2laTjx > .bannerImage-ubW8K-,
// .bannerImage-ubW8K- > .bannerImg-2PzH6z {
//     width: 272px;
// }

// aside.container-1oAagU {
//     background-color: var(--background-primary);
// }

// .searchBar-jGtisZ {
//     background-color: white;
// }

// /* call */
// .callContainer-HtHELf .iconWrapper-2awDjA > svg,
// .callContainer-HtHELf .iconWrapper-2awDjA > svg > foreignObject > svg {
//     color: white !important;
// }

// /* certain text changed to white for readability */
// h1.name-3Uvkvr,
// div.name-2m3Cms,
// svg.button-2BMPJJ,
// svg.linkButtonIcon-7rsZcu {
//     color: white;
// }

// /* fixes dark mode typing indicator */
// span.text-3S7XCz,
// svg.ellipsis-1e7x0D > g {
//     color: black;
// }

// /* smooth transition for background color */
// .interactive-1vLZ_I,
// .content-1gYQeQ {
//     transition: background-color 0.08s;
// }

// /*
//   this stuff is like the server name header and dm list backgrounds. i don't remember what's what oops
//   anyway it makes it easier to see :D
// */
// .interactive-1vLZ_I:hover {
//     background-color: var(--on-black-color);
// }

// .header-3OsQeK:hover {
//     background-color: var(--on-black-color) !important;
// }

// .acronym-2zrAHN {
//     color: var(--server-icon-col) !important;
// }

// .content-1gYQeQ:hover {
//     background-color: var(--on-black-color) !important;
// }
// .interactive-1vLZ_I.interactive-iyXY_x > a > div > div.content-66wMin > div.subText-3Sk0zy > .subtext-14b69p {
//     color: rgba(180, 180, 180, 1);
// }

// .subText-3Sk0zy > .subtext-14b69p {
//     color: #bababa;
// }

// /* top bar colour correction */
// .container-ZMc96U h1,
// .container-ZMc96U p,
// .container-ZMc96U span {
//     color: black;
// }

// /* top bar changes */
// .item-3mHhwr {
//     border-radius: 0 !important;
//     background-color: var(--p-teriary) !important;
//     color: black !important;
//     border: 0.3vh solid;
//     border-color: var(--p-secondary);
//     margin: 0 5px !important;
// }

// .iconWrapper-2awDjA > svg,
// .iconWrapper-2awDjA > svg > foreignObject > svg {
//     color: black !important;
// }

// .iconWrapper-2awDjA > svg:hover,
// .iconWrapper-2awDjA:hover > svg > foreignObject > svg {
//     color: rgba(0, 0, 0, 0.7) !important;
// }

// div.status-12NUUC > svg {
// }

// div.status-12NUUC > svg > rect {
//     margin: 0 auto;
// }

// .chat-2ZfjoI > .title-31SJ6t.container-ZMc96U.themed-Hp1KC_ > .children-3xh0VB h3,
// .title-31SJ6t.container-ZMc96U.themed-Hp1KC_ h2,
// .title-31SJ6t.container-ZMc96U.themed-Hp1KC_ .input-1nrc5P,
// .title-31SJ6t.container-ZMc96U.themed-Hp1KC_ {
//     color: black;
// }

// .akaBadge-3i7V3p {
//     background-color: black;
//     color: white;
// }

// .nicknames-10Sg6e.overflow-1wOqNV {
//     color: black;
// }

// .title-31SJ6t.container-ZMc96U.themed-Hp1KC_ > .children-3xh0VB > .topic-11NuQZ.expandable-3CaLeS {
//     color: black;
// }

// /* text box background */
// .channelTextArea-1FufC0,
// .scrollableContainer-15eg7h {
//     background-color: var(--background-primary) !important;
// }

// /* x button to close dms and + button to start new dm, now white */
// .closeIcon-1NwtbI,
// .privateChannelRecipientsInviteButtonIcon-1ObKXK > polygon {
//     color: white !important;
// }

// /* voice chat buttons */
// .button-12Fmur[aria-label="Noise Suppression powered by Krisp"],
// .button-12Fmur[aria-label="Disconnect"],
// .button-12Fmur[aria-label="Exit Quietly"] {
//     color: black !important;
// }

// .buttonIcon-2Zsrs2.withText-2iJppd {
//     margin-right: 4px;
// }

// /* channel list fixes */
// .containerDefault-YUSmu3 > .iconVisibility-vptxma.wrapper-NhbLHG > .content-1gYQeQ > .children-1MGS9G > div:hover > svg,
// .containerDefault-YUSmu3 > div > .iconVisibility-vptxma.wrapper-NhbLHG > .content-1gYQeQ > .children-1MGS9G > div:hover > svg {
//     color: white;
// }

// .containerDefault-YUSmu3 > .iconVisibility-vptxma.wrapper-NhbLHG > .content-1gYQeQ > .children-1MGS9G > div > svg,
// .containerDefault-YUSmu3 > div > .iconVisibility-vptxma.wrapper-NhbLHG > .content-1gYQeQ > .children-1MGS9G > div > svg {
//     transition: color 0.15s;
// }

// /* screenshare colour fixes */
// .headerWrapper-1ULEPv > .theme-dark.container-ZMc96U.transparent-1lUmft > .children-3xh0VB > .iconWrapper-2awDjA > svg {
//     color: white !important;
// }

// .headerWrapper-1ULEPv > .theme-dark.container-ZMc96U.transparent-1lUmft > .toolbar-3_r2xA > .iconWrapper-2awDjA > svg {
//     color: white !important;
// }

// /* list */
// .sidebar-1tnWFu {
//     width: 300px;
// }

// ul[aria-label="Direct Messages"] > li > div {
//     width: 257px;
// }

// /* right bar fix for clicking on names */
// .member-2gU6Ar.container-1oeRFJ.selected-1-Z6gm
//     > .layout-1qmrhw
//     > .content-1U25dZ
//     > .nameAndDecorators-3ERwy2
//     > .name-3Vmqxm
//     > .roleColor-nA7BqX.desaturateUserColors-1O-G89 {
//     color: #5e6772;
// }

// /* game activity bottom left */
// .gameWrapper-2TFy7F.clickableGameWrapper-1xHQQL > .info-88fTUI > .size14-3fJ-ot.title-338goq {
//     color: black;
// }

// .panel-2ZFCRb.activityPanel-9icbyU > .body-1FrnJD > .actions-zk2vB_ > .disabledButtonWrapper-2Oz3aY > button,
// .panel-2ZFCRb.activityPanel-9icbyU > .body-1FrnJD > .actions-zk2vB_ > button {
//     color: black !important;
// }

// /* user area in the bottom left (pfp, name, status, mute/deafen/settings area) */
// .sidebar-1tnWFu > .panels-3wFtMD[aria-label="User area"] > .container-YkUktl {
//     justify-content: center;
// }

// /* something idk */
// .lineClamp1-1iDPU7.text-md-semibold-3xVVGu.name-3Uvkvr {
//     color: white;
// }

// .headerWrapper-1ULEPv > section h1,
// .headerWrapper-1ULEPv > section p,
// .headerWrapper-1ULEPv > section svg {
//     color: white;
// }
