/* friends -> chums! */
div[aria-label="Add Friend"]:after {
    content: "Add Chum" !important;
}

div[aria-label="Add Friend"] > span {
    display: none;
}

a[href="/channels/@me"] > div > div > div > div {
    display: none;
}

a[href="/channels/@me"] > div > div > div:after {
    visibility: visible;
    content: "Chums";
    color: white;
}

.container-2cd8Mz > .container-ZMc96U.themed-Hp1KC_ > .children-3xh0VB > h3.title-17SveM {
    visibility: hidden;
    width: 45px;
}

.container-2cd8Mz > .container-ZMc96U.themed-Hp1KC_ > .children-3xh0VB > h3.title-17SveM:after {
    visibility: visible;
    content: "Chums";
    position: absolute;
    color: black;
}

/* DIRECT MESSAGES -> CHUMROLL */
h2.privateChannelsHeaderContainer-1UWASm > span.headerText-1qIDDT {
    visibility: hidden;
}

h2.privateChannelsHeaderContainer-1UWASm > span.headerText-1qIDDT:after {
    visibility: visible;
    content: "Chumroll";
    position: absolute;
    color: white;
    left: 12px;
    letter-spacing: 0.05em;
}
