@use "../top/vars" as *;

// Loading messages
.wrapper__3d460 {
    background: unset;

    // Message
    .wrapper__5c5cd {
        background: unset;

        .attachment__7a2d0,
        .avatar_eb6eba,
        .blob__8d5bd {
            background: $dark;
            opacity: 0.2 !important;
        }
    }
}

// Loading forum posts
.loadingCard_a6aa0a {
    background: $dark;
    opacity: 0.2 !important;
}
