@use "../top/vars" as *;

// Loading messages
.wrapper_c899da {
    background: unset;

    // Message
    .wrapper__6b7d8 {
        background: unset;

        .attachment_d24cc3,
        .avatar_eb6eba,
        .blob__8d5bd {
            background: $dark;
            opacity: 0.2 !important;
        }
    }
}

// Loading forum posts
.loadingCard_ecb256 {
    background: $dark;
    opacity: 0.2 !important;
}
