@use "../top/vars" as *;

// Scrollbars

// Thick scrollbar
.auto__76cc7,
.auto_a48086 {
    &::-webkit-scrollbar {
        width: $size-border * 2;
        height: $size-border * 2;
    }

    &::-webkit-scrollbar-thumb {
        background: $light;
    }

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
        border: $size-border solid transparent;
    }
}

.scroller__1f96e::-webkit-scrollbar-track {
    margin-bottom: 0;
}

// Thin scrollbar
.thin_b1c063,
.thin__62e51 {
    &::-webkit-scrollbar {
        width: $size-border;
        height: $size-border;
    }

    &::-webkit-scrollbar-thumb {
        background: $light;
    }

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
        border: $size-border solid transparent;
    }
}
