@use "../top/vars" as *;

// Scrollbars

// Thick scrollbar
.auto_c49869,
.auto_eed6a8 {
    &::-webkit-scrollbar {
        width: $size-border * 2;
        height: $size-border * 2;
    }

    &::-webkit-scrollbar-thumb {
        background: $light;
    }

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
        border: $size-border solid transparent;
    }
}

.scroller_e2e187::-webkit-scrollbar-track {
    margin-bottom: 0;
}

// Thin scrollbar
.thin_eed6a8,
.thin_c49869 {
    &::-webkit-scrollbar {
        width: $size-border;
        height: $size-border;
    }

    &::-webkit-scrollbar-thumb {
        background: $light;
    }

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
        border: $size-border solid transparent;
    }
}
