@use "../top/vars" as *;
@use "../top/box";

// Tabs

.item__48dda.item__48dda.item__48dda.item__48dda {
    &,
    &:hover {
        @include box.default;
        background: $medium;
        color: $black;
    }
    &.selected_a523ff {
        border-color: $light;
        background: $medium;
    }
}
