@use "../top/vars" as *;
@use "../top/box";
@use "../top/sticky";

// Any layer
.layer__2efaa {
    opacity: 1 !important;

    // Settings layer
    + .layer__2efaa {
        background: unset;
        backdrop-filter: blur(2px) brightness(0.7);
        align-items: center;

        div:has(> .standardSidebarView__1129a) {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
}

// Settings modal
.standardSidebarView__1129a {
    @include box.highlight;
    padding: 10px;
    left: unset;
    right: unset;
    bottom: 20px;
    top: 20px;

    .platform-win & {
        top: 22px + 20px;
    }

    .sidebarRegion__60457 {
        flex: 0 0 var(--custom-standard-sidebar-view-sidebar-total-width);
    }
    .sidebarRegionScroller__1fa7e {
        background: $medium;
    }
    .sidebar__9e3e2 {
        padding: 0 6px 0 0;

        // Item
        :is(.item__48dda.item__48dda.item__48dda, .item__48dda.item__48dda.item__48dda:hover) {
            @include sticky.box;
            padding: 0;

            &.selected__5711d::before,
            &.selected__5711d::after {
                background: $light;
            }

            &::before {
                margin-bottom: 6px;
            }
            &::after {
                margin-top: 6px;
            }
        }

        // Separator
        .separator_fdbcfd {
            background: unset;
        }

        // Group header
        .header_f72511,
        // Socials
        .link_b006df {
            color: $black;
        }

        // Group header category
        .headerText__94c22 {
            display: flex;

            .category-CysNYv {
                color: $black !important;
                order: -1;

                &::after {
                    content: "\00a0/\00a0";
                }
            }
        }

        // Version info
        .info__755e1 .line__75801 {
            color: $black !important;
        }
    }

    .contentRegionScroller__86c79 {
        @include box.sync;
    }
}
