@use "../top/vars" as *;
@use "../top/box";
@use "../top/sticky";

// Any layer
.layer_d4b6c5 {
    opacity: 1 !important;

    // Settings layer
    + .layer_d4b6c5 {
        background: unset;
        backdrop-filter: blur(2px) brightness(0.7);
        align-items: center;

        div:has(> .standardSidebarView_c25c6d) {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
}

// Settings modal
.standardSidebarView_c25c6d {
    @include box.highlight;
    padding: 10px;
    left: unset;
    right: unset;
    bottom: 20px;
    top: 20px;

    .platform-win & {
        top: 22px + 20px;
    }

    .sidebarRegion_c25c6d {
        flex: 0 0 var(--custom-standard-sidebar-view-sidebar-total-width);
    }
    .sidebarRegionScroller_c25c6d {
        background: $medium;
    }
    .sidebar_c25c6d {
        padding: 0 6px 0 0;

        // Item
        :is(.item_a0.item_a0.item_a0, .item_a0.item_a0.item_a0:hover) {
            @include sticky.box;
            padding: 0;

            &.selected_a0::before,
            &.selected_a0::after {
                background: $light;
            }

            &::before {
                margin-bottom: 6px;
            }
            &::after {
                margin-top: 6px;
            }
        }

        // Separator
        .separator_a0 {
            background: unset;
        }

        // Group header
        .header_a0,
        // Socials
        .link_c44e94 {
            color: $black;
        }

        // Group header category
        .headerText_a0 {
            display: flex;

            .category-CysNYv {
                color: $black !important;
                order: -1;

                &::after {
                    content: "\00a0/\00a0";
                }
            }
        }

        // Version info
        .info_c5a741 .line_c5a741 {
            color: $black !important;
        }
    }

    .contentRegionScroller_c25c6d {
        @include box.sync;
    }
}
