@use "../top/vars" as *;
@use "../top/box";
@use "../top/replace";

// User profile
.userProfileOuter__4ac83 {
    @include box.default;

    // Background
    .userProfileInner__61cc1 {
        background: $medium;
    }
    .overlayBackground__2666e {
        background: unset;
    }

    // Text
    .defaultColor__77578 {
        color: $black;
    }

    // Icon
    .avatar__991e2 {
        background: $dark;
    }

    // Badges
    .profileBadges__1f2ab,
    .badgeList__126b0 {
        @include box.sync;
        padding: 0;

        &:empty {
            visibility: hidden;
        }
    }

    // Friend request button
    .relationshipButtons_b880ad {
        .actionButton__46a10 {
            @include box.highlight;
            height: 35px;
            color: $black;

            // Send friend request
            // Send message
            .contents__322f4 {
                @include replace.text("Pester");
            }

            // Friend request sent
            &:disabled .contents__322f4 {
                @include replace.text("Chum request sent");
            }
        }

        // More options
        .additionalActionsIcon__6b109,
        .additionalActionsIcon__6b109:hover {
            color: $black;
        }
    }

    // Name
    .userTagUsernameBase__2bd24,
    .discriminator__9d9f2 {
        color: $black;
    }
    .discrimBase__5555e {
        color: $grey;
    }

    // Status
    .customStatus__3aa7f,
    .customStatus-3qYNe4 {
        color: $grey;
    }

    // Tabs
    .tabBarContainer_b283be {
        border-bottom: 0;

        .tabBar__35f81 {
            gap: 10px;

            .item__48dda {
                @include box.highlight;
                color: $black;
                padding: 8px;
                box-sizing: border-box;

                &.selected_a523ff,
                &:hover {
                    border-bottom-color: $dark;
                }

                // User info tab
                &:first-child {
                    @include replace.text("Chum Info");
                }

                // Mutual friends tab
                &:nth-last-child(2) {
                    @include replace.text("Mutual Chums");
                }
            }
        }
    }

    // Divider
    .divider_e6f9ab {
        display: none;
    }

    // Section title
    .title__392bc {
        color: $grey;
    }

    // Member since
    .memberSinceContainer__16630 {
        .discordIcon__1e1be {
            color: $black;
        }
    }

    // Activity
    .activity__20c1e {
        .headerText_c0138d {
            color: $grey;
        }
        .activityName_a7b7de,
        .content__7246b,
        .details_e26997,
        .name__0ac4b,
        .nameNormal_cb5c2b,
        .nameWrap_b61c4b {
            color: $black;
        }
    }

    // Roles
    .role_d81130 {
        @include box.sync;
        box-sizing: content-box;
        padding: 0;
        .roleNameOverflow__27401 {
            color: $foreground;
        }
    }

    // Note
    .note_ba0c31,
    .note_ba0c31 {
        @include box.sync;
        .textarea__0461c {
            color: $foreground;
        }
    }

    // Message
    .messageInputContainer_a93946 {
        @include box.sync;
        .messageInput_c423ff {
            color: $foreground;
        }
    }

    // Connected accounts
    .connectedAccountContainer__5972d {
        @include box.sync;
    }

    // Server or friend
    .listRow__50619 {
        .listName__028b9,
        .guildNick_d76c11 {
            color: $grey;
        }
    }
}

// Themed
.userProfileOuterThemed__1fbd7.userPopoutOuter__3884e,
.userProfileOuterThemed__1fbd7.userProfileOuter__4ac83 {
    padding: 0;
}
.userProfileInner__61cc1::before {
    display: none;
}
