@use "../top/vars" as *;
@use "../top/box";
@use "../top/replace";

// User profile
.userProfileOuter__46bb7 {
    @include box.default;

    // Background
    .userProfileInner__8065b {
        background: $medium;
    }
    .overlayBackground__86b78 {
        background: unset;
    }

    // Text
    .defaultColor__77578 {
        color: $black;
    }

    // Icon
    .avatar__991e2 {
        background: $dark;
    }

    // Badges
    .profileBadges__7a7cb,
    .badgeList_c193e3 {
        @include box.sync;
        padding: 0;

        &:empty {
            visibility: hidden;
        }
    }

    // Friend request button
    .relationshipButtons__5efdd {
        .actionButton_dac582 {
            @include box.highlight;
            height: 35px;
            color: $black;

            // Send friend request
            // Send message
            .contents_fb6220 {
                @include replace.text("Pester");
            }

            // Friend request sent
            &:disabled .contents_fb6220 {
                @include replace.text("Chum request sent");
            }
        }

        // More options
        .additionalActionsIcon__33de0,
        .additionalActionsIcon__33de0:hover {
            color: $black;
        }
    }

    // Name
    .userTagUsernameBase__75fb1,
    .discriminator_a801dd {
        color: $black;
    }
    .discrimBase_e0c4c5 {
        color: $grey;
    }

    // Status
    .customStatus__3aa7f,
    .customStatus-3qYNe4 {
        color: $grey;
    }

    // Tabs
    .tabBarContainer__63f55 {
        border-bottom: 0;

        .tabBar__35f81 {
            gap: 10px;

            .item__48dda {
                @include box.highlight;
                color: $black;
                padding: 8px;
                box-sizing: border-box;

                &.selected__5711d,
                &:hover {
                    border-bottom-color: $dark;
                }

                // User info tab
                &:first-child {
                    @include replace.text("Chum Info");
                }

                // Mutual friends tab
                &:nth-last-child(2) {
                    @include replace.text("Mutual Chums");
                }
            }
        }
    }

    // Divider
    .divider_ed0c1d {
        display: none;
    }

    // Section title
    .title_ef4a6d {
        color: $grey;
    }

    // Member since
    .memberSinceContainer__0a28b {
        .discordIcon_feeef1 {
            color: $black;
        }
    }

    // Activity
    .activity__20c1e {
        .headerText__7d203 {
            color: $grey;
        }
        .activityName__47e51,
        .content_d7cb7f,
        .details__445eb,
        .name_b6124d,
        .nameNormal__1d540,
        .nameWrap__7263f {
            color: $black;
        }
    }

    // Roles
    .role__631a3 {
        @include box.sync;
        box-sizing: content-box;
        padding: 0;
        .roleNameOverflow_c35412 {
            color: $foreground;
        }
    }

    // Note
    .note_ba0c31,
    .note_ba0c31 {
        @include box.sync;
        .textarea_c5a7a3 {
            color: $foreground;
        }
    }

    // Message
    .messageInputContainer__768e6 {
        @include box.sync;
        .messageInput__3b049 {
            color: $foreground;
        }
    }

    // Connected accounts
    .connectedAccountContainer__23f00 {
        @include box.sync;
    }

    // Server or friend
    .listRow__60937 {
        .listName_dbd44a,
        .guildNick__01069 {
            color: $grey;
        }
    }
}

// Themed
.userProfileOuterThemed__6eb84.userPopoutOuter_d739b2,
.userProfileOuterThemed__6eb84.userProfileOuter__46bb7 {
    padding: 0;
}
.userProfileInner__8065b::before {
    display: none;
}
