@use "../top/vars" as *;
@use "../top/replace";
@use "../top/box";

// DMs

// DM list
.privateChannels_f0963d {
    .scroller_c47fa9 {
        background: unset;

        // Primary channels
        .channel_c91bad {
            max-width: unset;

            // Friends channel
            &:has(path[d^="M3 5v-.75"]) .name_f9647d {
                @include replace.text("Chums", 16px);
                height: 20px;
            }
        }

        // DM header
        .headerText_c47fa9 {
            @include replace.text("Chumroll", 12px);
        }
    }
}

// Friends header (for other headers see _header.scss)
.container_e44302 {
    // Friends title
    &:has(path[d^="M3 5v-.75"]) .title_e44302 {
        @include replace.text("Chums", 16px);
    }

    // Friend tabs
    .item_a0 {
        @include box.highlight;
        color: $black;

        &.themed_a0:hover:not(.disabled_a0),
        &.themed_a0.selected_a0.item_a0,
        &.addFriend_c2739c.addFriend_c2739c {
            background-color: $light;
            color: $black;
        }
    }

    // Blocked tab
    &:has(path[d^="M3 5v-.75"]) .item_a0:nth-last-child(2) {
        @include replace.text("Trollslum", 16px);
    }

    // Add friend button
    .addFriend_c2739c span {
        @include replace.text("Add Chum", 16px);
        height: 20px;
    }

    .akaBadge__27cd4 {
        background: $black;
        color: $white;
    }
}

// DM call container
.wrapper_d880dc.minimum_d880dc {
    background: unset;

    .quickSelectLabel__79774,
    .quickSelect__540d0,
    .controlIcon_ef18ee.themeable_ef18ee {
        color: $black;
    }

    // Square buttons
    .controlButton_b6e2f9 {
        @include box.default;
        .colorable_ef18ee.primaryDark_ef18ee,
        .colorable_ef18ee.primaryLight_ef18ee {
            background: unset;
        }
    }
}

// People
.peopleColumn_c2739c {
    @include box.sync;

    // Sad wumpus: Wumpus is waiting on friends. You don't have to, though!
    .image__08515[style*="bca918618b884a382ab5.svg"] + .flexChild_bba380 .text__0e310 {
        @include replace.text("Wumpus has no chums.", 16px);
    }

    // All tab
    &#all-tab {
        .title_a1cafe {
            position: relative;
            overflow: visible;
            margin-inline-start: calc(30px - 1.2em);

            &::before {
                content: "All chums";
                position: absolute;
                background: $background;
                padding-left: 1.2em;
            }
        }
    }

    // Blocked tab
    &#blocked-tab {
        .title_a1cafe {
            position: relative;
            overflow: visible;
            margin-inline-start: calc(30px + 1.2em);

            &::before {
                content: "Trollslum";
                position: absolute;
                background: $background;
                left: -1.2em;
            }
        }
    }

    // Add friend tab
    &#add_friend-tab {
        // Title: Add friend
        .title_c96274 {
            @include replace.text("Add Chum", 16px);
        }

        // Subtitle: You can add friends with their Discord usernames.
        .description_b89ec7:first-child {
            @include replace.text("You can add chums with their chumhandles.", 14px);
        }

        // Input: You can add friends with their Discord usernames.
        .input_f8bc55::placeholder {
            color: transparent;
        }

        // Button: Send Friend Request
        .button_dd4f85 {
            @include box.default;

            .contents_dd4f85 {
                @include replace.text("Send chum request");
            }
        }

        // Title: Other places to make friends
        .title_aef5fd {
            @include replace.text("Other places to make chums", 16px);
        }
    }
}

// Active now
.nowPlayingColumn_c2739c {
    @include box.sync;

    .container_bf550a {
        background: unset;

        .scroller_bf550a {
            border-left: 0;
            margin-left: 0;
        }
    }
}

// User profile panel
.profilePanel_b433b4 {
    @include box.sync;

    .userProfileOuterUnthemed_c69a7b,
    .userPanelInnerThemed_c69a7b {
        background: unset;
    }
}

// Library, Nitro, Shop
:is(.scroller_ad8f79, .scroller_a8b566) {
    @include box.sync;
    margin: 16px;

    // Library header
    .header_f1629a {
        background: unset;
    }
}

// Shop
.shopScrollBackgroundPrimary__28f1d {
    @include box.sync;
    margin: 16px;
    height: calc(100% - 80px);

    .pageWrapperBackgroundPrimary__36469 {
        background: unset;
    }
}
