@use "../top/vars" as *;
@use "../top/box";

// Forum main panel
.container_b92032 {
    gap: 16px;
    background: unset;

    // Forum
    .list__5ced9,
    .grid_c2bdfe {
        @include box.default;

        & > div:first-child {
            padding: 0 12px;
            padding-right: 12px - ($size-border * 2);
        }

        // Post maker and posts
        .mainCard__0ec2c {
            @include box.sync;

            // Opened post
            &.isOpen_d88bb6 {
                border-color: $light;
            }

            // Pinned post
            .pinIcon__054d8 {
                background: $dark;
            }

            // Gallery mode text
            .contentPreview__122fc {
                background: unset;
                border: none;

                .textContentFooter_e03480 {
                    background: linear-gradient(to top, $background, transparent);
                }
            }
        }
        .container_de2a56:hover {
            transform: none;
        }

        // Post maker results
        .matchingPostsRow__6cdb0 {
            background: unset;
            --text-normal: #{$black};

            .text-xs-normal_ccc5fb,
            .text-xs-semibold__2181c {
                font-size: 14px;
                line-height: 18px;
            }
        }

        // Post guidelines
        .container__852f7 {
            @include box.sync;
            .descriptionContainer__24e5f {
                background: unset;
            }
        }

        // Filter by tag
        .tagsContainer__58760 {
            // Divider
            .divider_d1051b {
                width: $size-border;
                background: $dark;
            }

            // Sort and view
            // See all tags
            .sortDropdown__40a16,
            .tagsButton__34537 {
                @include box.default;
                --interactive-normal: #{$black};

                &[aria-expanded="true"] {
                    border-color: $light;
                }
            }
            .tagsButton__34537 {
                padding: 0;

                // Tag counter
                .countContainer_a9a63f {
                    background: unset;
                }
                .countText__90ea0 {
                    color: $black;
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
    }
}

// Tags
.pill_f055c3.pill_f055c3 {
    @include box.default;
    --text-normal: #{$black};

    &.clickable_daf171:not(.disabled_fbfabf):hover {
        background: $medium;
    }

    &.selected__50db4.selected__50db4 {
        border-color: $light;
        background: $medium;
    }
}

// Unset forum minimum width
.grid-21dB-S > div:first-child,
.headerRow__86f2e,
.list__5ced9 > div:first-child {
    min-width: unset;
    box-sizing: border-box;
}

// Forum post info
.scrollerInner__37fee {
    overflow: unset;
    .container__68e43 {
        background: unset;
        pointer-events: none;
        border-top: 0;
        top: 0;

        .reactButtons_db41f7,
        .buttons_ef8915 {
            pointer-events: all;
        }
    }
    .divider__4df9f {
        display: none;
    }

    // Post action buttons
    .addReactButton__4342f,
    .buttonInner__865de {
        @include box.default;
        color: $black;

        &.active_f2e487 {
            @include box.highlight;
        }

        &:hover,
        &:active .icon__09a44,
        &.active_f2e487 .icon__09a44,
        &:hover .icon__09a44 {
            color: $black;
        }
    }

    // Reaction
    .reaction_ef7e09 {
        @include box.default;

        &.reactionMe__9fc5c {
            @include box.highlight;
        }

        .reactionCount_b780c8 {
            color: $black;
        }
    }
}
