@use "../top/vars" as *;
@use "../top/box";

// Forum main panel
.container_b181b6 {
    gap: 16px;
    background: unset;

    // Forum
    .list__5ced9 {
        @include box.default;

        & > div:first-child {
            padding: 0 12px;
            padding-right: 12px - ($size-border * 2);
        }

        // Post maker and posts
        .mainCard__8a660 {
            @include box.sync;

            &.isOpen__8593d {
                border-color: $light;
            }

            // Pinned post
            .pinIcon__39b6e {
                background: $dark;
            }
        }
        .container__99b06:hover {
            transform: none;
        }

        // Post maker results
        .matchingPostsRow__510be {
            background: unset;
            --text-normal: #{$black};

            .text-xs-normal_ccc5fb,
            .text-xs-semibold__2181c {
                font-size: 14px;
                line-height: 18px;
            }
        }

        // Post guidelines
        .container__1b27a {
            @include box.sync;
            .descriptionContainer__3814d {
                background: unset;
            }
        }

        // Filter by tag
        .tagsContainer_e0ece5 {
            // Divider
            .divider__0a999 {
                width: $size-border;
                background: $dark;
            }

            // Sort and view
            // See all tags
            .sortDropdown_ec3016,
            .tagsButton_e96762 {
                @include box.default;
                --interactive-normal: #{$black};

                &[aria-expanded="true"] {
                    border-color: $light;
                }
            }
            .tagsButton_e96762 {
                padding: 0;

                // Tag counter
                .countContainer__1b48f {
                    background: unset;
                }
                .countText__6ebee {
                    color: $black;
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
    }
}

// Tags
.pill_f055c3 {
    @include box.default;
    --text-normal: #{$black};

    &.clickable__8b375:not(.disabled__70fda):hover {
        background: $medium;
    }

    &.selected_dc72d1.selected_dc72d1 {
        border-color: $light;
        background: $medium;
    }
}

// Unset forum minimum width
.grid-21dB-S > div:first-child,
.headerRow__16d8e,
.list__5ced9 > div:first-child {
    min-width: unset;
    box-sizing: border-box;
}

// Forum post info
.scrollerInner__059a5 {
    overflow: unset;
    .container__8ee50 {
        background: unset;
        pointer-events: none;
        border-top: 0;
        top: 0;

        .reactButtons__261af,
        .buttons__1995d {
            pointer-events: all;
        }
    }
    .divider_ffec75 {
        display: none;
    }

    // Post action buttons
    .addReactButton__59750,
    .buttonInner__2771e {
        @include box.default;
        color: $black;

        &.active_f1266e {
            @include box.highlight;
        }

        &:hover,
        &:hover .icon__9ea62 {
            color: $black;
        }
    }

    // Reaction
    .reaction_fef95b {
        @include box.default;

        &.reactionMe__98f57 {
            @include box.highlight;
        }

        .reactionCount_b49901 {
            color: $black;
        }
    }
}
