@use "../top/vars" as *;

// Header bar
.container__26baa:is(.title_d4ba1a, .themed_b152d4) {
    background: unset;

    // No shadow
    &::before {
        display: none;
    }

    .children_cde9af::after {
        background: linear-gradient(90deg, transparent, var(--message-background-alt));
    }

    .title__84e16,
    .topic__16ae3,
    .nicknames__12efb {
        color: $black;
    }

    .divider_bdb894 {
        display: none;
    }

    .searchBar__5a20a,
    .searchBar__9eefb {
        background: $background;
    }

    // Channel icon
    .icon_ae0b42,
    .clickable_ce0925 .icon_ae0b42,
    .clickable_ce0925:hover .icon_ae0b42,
    .selected__1fc53 .icon_ae0b42 {
        color: $black;
    }
    .iconWrapper_de6cd1 path {
        fill: $black;
    }
}
