@use "../top/vars" as *;

// Header bar
.container-ZMc96U.themed-Hp1KC_ {
    background: unset;

    .children-3xh0VB::after {
        background: linear-gradient(90deg, transparent, var(--message-background-alt));
    }

    .title-17SveM,
    .topic-11NuQZ,
    .nicknames-10Sg6e {
        color: $white;
    }
}

// Channel icon
.icon-2xnN2Y {
    color: $white;

    .clickable-ZD7xvu & {
        color: $header-normal;
    }
    .clickable-ZD7xvu:hover & {
        color: $header-hover;
    }
    .selected-29KTGM & {
        color: $header-active;
    }
}
