@forward "./channels";
@forward "./dm";
@forward "./forum";
@forward "./header";
@forward "./members";
@forward "./messages";
@forward "./search";
@forward "./servers";
@forward "./split";
@forward "./titlebar";

@use "../top/vars" as *;

.bg-1QIAus {
    background: $medium;
}

.content-1SgpWY {
    border: $size-border solid $light;

    .chat-2ZfjoI,
    .container-2cd8Mz {
        background: unset;
        border-left: $size-border solid $light;

        .content-1jQy2l,
        .tabBody-2dgbAs {
            padding: 16px;
            gap: 16px;

            &::before {
                display: none;
            }
        }
    }
}
