@forward "./channels";
@forward "./dm";
@forward "./forum";
@forward "./header";
@forward "./members";
@forward "./messages";
@forward "./messagesspecial";
@forward "./search";
@forward "./servers";
@forward "./split";
@forward "./titlebar";

@use "../top/vars" as *;

.bg__12180 {
    background: $medium;
}

.content__4bf10 {
    border: $size-border solid $light;

    .sidebar_ded4b5 + :is(div, main):not(.erd_scroll_detection_container),
    .sidebar_ded4b5 + .erd_scroll_detection_container + :is(div, main):not(.erd_scroll_detection_container) {
        background: unset;
        border-left: $size-border solid $light;

        .content__1a4fe,
        .tabBody_b3d268 {
            padding: 16px;
            gap: 16px;

            &::before {
                display: none;
            }
        }
    }
}
