@use "../top/vars" as *;
@use "../top/box";

// Server guide
.scrollerBase_c49869:has(.homeContainer_e85cee) {
    @include box.default;
    margin: 16px;

    .row_b53f4f,
    .sidebarCardWrapper_e85cee {
        @include box.sync;
    }
}

// Channels and roles
.header_f1fd9c:has(path[d^="M18.5 23"]) + .container_f1fd9c.container_f1fd9c.container_f1fd9c {
    @include box.default;
    margin: 16px;
    padding: 0;
    gap: 0;

    // Background
    .emptyPage_c6b11b,
    .scrollerContainer_c6b11b,
    .container_c2efea {
        background: unset;
    }

    // Tabs
    .tabBar_f1fd9c {
        border-bottom: 0;

        .tabBarItem_f1fd9c {
            padding: 2px 8px;
        }

        // Channel count
        .textBadge_f05120 {
            --background-accent: #{$dark};
        }
    }

    // Customisation questions main title
    .heading-md-semibold__76ba1 {
        --header-primary: #{$black};

        + .text-xs-normal__46d75 {
            --text-muted: #{$black};
        }
    }

    // Choose all that apply
    .helpText_c6b11b {
        --text-muted: #{$black};
    }

    // Customisation question group
    .prompt_c6b11b {
        border: none;
        background: unset;

        // Option
        .optionButtonWrapper_bd5e1f {
            @include box.sync;

            &.selected_bd5e1f {
                @include box.highlight($background);

                .checkIcon_bd5e1f {
                    background: $light;

                    path {
                        fill: $black;
                    }
                }
            }
        }
    }

    // Profile preview
    .profileCard_c6b11b {
        @include box.sync;
    }

    // Search for channels
    .container__33507 {
        @include box.sync;
    }

    // Channel group header
    .categoryRow_f04d06 {
        --text-muted: #{$black};

        .checkbox_f6cde8 {
            background: $black !important;
            border: none;
        }
    }

    // Channel
    .channelRow_f04d06 {
        @include box.sync;
        border-top-width: 0;
        border-bottom-width: 0;

        &.firstChannel_f04d06 {
            border-top-width: 4px;
        }

        &.lastChannel_f04d06 {
            border-bottom-width: 4px;
        }
    }

    // Separators
    .separator_f04d06 {
        display: none;
    }
}

// Server shop
.content_cac32e {
    @include box.sync;
    margin: 16px;
    padding: 0;
    padding-right: 0 !important;

    // Box for some reason
    .contentContainer_cac32e {
        width: auto;
    }

    // Banner
    .container_e1e1a4 {
        background: unset;
        box-shadow: none;
        border: none;

        .coverImageContainer_e1e1a4 {
            width: unset;
        }
    }

    // Support options
    .container_ff1414 {
        padding: 16px;

        // Item
        .tab_ff1414 {
            @include box.default;
            box-shadow: none;

            &.selected_ff1414 {
                @include box.highlight;
                box-shadow: none;
            }

            .text-sm-semibold_d260b0,
            .text-xs-normal__46d75 {
                color: $black !important;
            }
        }
    }

    .tabContainer_cac32e {
        border-top: 0;
    }

    // Perk card
    .cardContainerWithoutTopIndicator_ecba8f {
        @include box.default;

        --header-primary: #{$black};
        --header-secondary: #{$black};
        --interactive-active: #{$black};
        --interactive-normal: #{$black};
        --text-muted: #{$black};
        --text-normal: #{$black};

        .tierInfoContainer_ecba8f,
        .subscriptionPerks_ecba8f {
            background: unset;
        }

        // Preview
        .roleMessagePreview_ecba8f {
            @include box.sync;
            --text-normal: #{$foreground};
        }
    }
}
