@use "../top/vars" as *;
@use "../top/box";

// Chat
.chatContent-3KubbW {
    gap: 16px;
    background: unset;
    // Chat
    .messagesWrapper-RpOMA3 {
        @include box.sync;
    }

    // Message area
    .form-3gdLxP {
        padding: 0;

        &::before {
            display: none;
        }

        .channelTextArea-1FufC0 {
            @include box.sync;
            box-sizing: border-box;

            &.channelTextAreaDisabled-1p2fQv {
                background: $outer;
            }

            .themedBackground-3uF0xW {
                background: unset;
            }
        }

        // Accessories
        .base-3bcbY3 {
            color: $black;
            inset: auto 0 0;

            // Typing
            .dots-1k2MxY.themed-3dHGSa {
                color: $black;
            }

            // Slow mode
            .cooldownWrapper-2k1jHK {
                color: $black !important;
            }
        }
    }
}
