@use "../top/vars" as *;
@use "../top/box";

// Server guide
.scrollerBase__65223:has(.homeContainer_c36871) {
    @include box.default;
    margin: 16px;

    .row__4f559,
    .sidebarCardWrapper__98124 {
        @include box.sync;
    }
}

// Channels and roles
.header__71942:has(path[d^="M18.5 23"]) + .container__03ec9.container__03ec9.container__03ec9 {
    @include box.default;
    margin: 16px;
    padding: 0;
    gap: 0;

    // Background
    .emptyPage_feb902,
    .scrollerContainer_dda72c,
    .container__6b2e5 {
        background: unset;
    }

    // Tabs
    .tabBar_d4764b {
        border-bottom: 0;

        .tabBarItem__60c37 {
            padding: 2px 8px;
        }

        // Channel count
        .textBadge_f05120 {
            --background-accent: #{$dark};
        }
    }

    // Customisation questions main title
    .heading-md-semibold__76ba1 {
        --header-primary: #{$black};

        + .text-xs-normal__46d75 {
            --text-muted: #{$black};
        }
    }

    // Choose all that apply
    .helpText__80c19 {
        --text-muted: #{$black};
    }

    // Customisation question group
    .prompt__1b100 {
        border: none;
        background: unset;

        // Option
        .optionButtonWrapper_c86844 {
            @include box.sync;

            &.selected__31118 {
                @include box.highlight($background);

                .checkIcon__3c055 {
                    background: $light;

                    path {
                        fill: $black;
                    }
                }
            }
        }
    }

    // Profile preview
    .profileCard__1d74b {
        @include box.sync;
    }

    // Search for channels
    .container__33507 {
        @include box.sync;
    }

    // Channel group header
    .categoryRow__8a080 {
        --text-muted: #{$black};

        .checkbox_fcf2ad {
            background: $black !important;
            border: none;
        }
    }

    // Channel
    .channelRow__538ef {
        @include box.sync;
        border-top-width: 0;
        border-bottom-width: 0;

        &.firstChannel_c06b53 {
            border-top-width: 4px;
        }

        &.lastChannel__0a967 {
            border-bottom-width: 4px;
        }
    }

    // Separators
    .separator__68570 {
        display: none;
    }
}

// Server shop
.content__3c252 {
    @include box.sync;
    margin: 16px;
    padding: 0;
    padding-right: 0 !important;

    // Box for some reason
    .contentContainer_b281f2 {
        width: auto;
    }

    // Banner
    .container__0018d {
        background: unset;
        box-shadow: none;
        border: none;

        .coverImageContainer__13e0a {
            width: unset;
        }
    }

    // Support options
    .container_bd4104 {
        padding: 16px;

        // Item
        .tab_cc2f20 {
            @include box.default;
            box-shadow: none;

            &.selected__26619 {
                @include box.highlight;
                box-shadow: none;
            }

            .text-sm-semibold_d260b0,
            .text-xs-normal__46d75 {
                color: $black !important;
            }
        }
    }

    .tabContainer__64032 {
        border-top: 0;
    }

    // Perk card
    .cardContainerWithoutTopIndicator_a60d34 {
        @include box.default;

        --header-primary: #{$black};
        --header-secondary: #{$black};
        --interactive-active: #{$black};
        --interactive-normal: #{$black};
        --text-muted: #{$black};
        --text-normal: #{$black};

        .tierInfoContainer_dd1f1c,
        .subscriptionPerks__47df3 {
            background: unset;
        }

        // Preview
        .roleMessagePreview__242dc {
            @include box.sync;
            --text-normal: #{$foreground};
        }
    }
}
