@use "../top/vars" as *;
@use "../top/box";

// Chat

// Header bar (eg. this channel is not on your channel list)
.chatHeaderBar-31g1mU {
    @include box.highlight($BG-COLOR: $background);

    &::after {
        display: none;
    }
}

// Chat main panel
:is(.chatContent-3KubbW, .chatContent-2O4SXb) {
    gap: 16px;
    background: unset;

    // Chat
    .messagesWrapper-RpOMA3 {
        @include box.sync;
    }

    // Bars
    .newMessagesBar-1hF-9G,
    .jumpToPresentBar-1cEnH0 {
        background: $dark;
    }
}

// Message area
:is(.form-3gdLxP, .form-3qe0Ni) {
    padding: 0;

    &::before {
        display: none;
    }

    :is(.channelTextArea-1FufC0, .channelTextArea-1deLlK) {
        @include box.sync;
        box-sizing: border-box;

        &.channelTextAreaDisabled-1p2fQv {
            background: $dark;
        }

        .themedBackground-3uF0xW {
            background: unset;
        }
    }

    // Accessories
    .base-3bcbY3 {
        color: $black;
        inset: auto 0 0;

        // Typing
        .dots-1k2MxY.themed-3dHGSa {
            color: $black;
        }

        // Slow mode
        .cooldownWrapper-2k1jHK {
            color: $black !important;
        }
    }
}
