@use "../top/vars" as *;
@use "../top/box";

// Chat

// Header bar (eg. this channel is not on your channel list)
.chatHeaderBar__28ee6 {
    @include box.highlight($BG-COLOR: $background);

    &::after {
        display: none;
    }
}

// Chat main panel
.chatContent__5dca8 {
    gap: 16px;
    background: unset;

    // Chat
    .messagesWrapper_ea2b0b {
        @include box.sync;
    }

    // Bars
    .newMessagesBar__8b6d7,
    .jumpToPresentBar__0ff7f {
        background: $dark;
    }
}

// Message area
.form__13a2c {
    padding: 0;

    &::before {
        display: none;
    }

    .channelTextArea__2e60f {
        @include box.sync;
        box-sizing: border-box;

        &.channelTextAreaDisabled_c43b1c {
            background: $dark;
        }

        .themedBackground__6b1b6 {
            background: unset;
        }
    }

    // Accessories
    .base__512ed {
        color: $black;
        inset: auto 0 0;

        // Typing
        .dots_a97068.themed__4f364 {
            color: $black;
        }

        // Slow mode
        .cooldownWrapper_de448f {
            color: $black !important;
        }
    }
}
