@use "../top/vars" as *;
@use "../top/box";
@use "../top/sticky";

// Search results
.searchResultsWrap_c2b47d {
    @include box.highlight;

    // Header
    .searchHeader_b7c924 {
        background: $medium;
        --header-primary: #{$black};
    }

    // Results
    .scroller_c2b47d {
        padding: 0 10px;
        padding-right: 10px - $size-border !important;
    }

    // Channel
    .searchResultGroup_a9e225 {
        // Name
        .channelNameContainer_a9e225 {
            // Channel name
            --header-primary: #{$black};
            // Parent channel name
            --header-secondary: #{$black};
        }

        // Content
        .searchResult_ddc613 {
            @include box.sync;
            @include sticky.box($BOTTOM: 54px);
        }

        // Jump button
        .buttonsContainer_ddc613 {
            display: none;
        }
    }
    &:not(:has(.pageControlContainer_b48941)) {
        .searchResult_ddc613::after {
            bottom: 20px;
        }
    }

    // Navigation
    .container_de9d09 {
        position: sticky;
        bottom: 0;
        background: $medium;
        z-index: 2;
        // Text
        --header-primary: #{$black};
        --text-normal: #{$black};
        // Hovered text
        --interactive-hover: #{$black};

        // Buttons
        .pageButton_b48941 {
            @include box.default;

            &.activeButton_b48941 {
                border-color: $light;
                color: $black;
            }
        }
    }
}
