@use "../top/vars" as *;

// Servers list
.wrapper__216eb {
    background: unset;

    // Home icon
    .childWrapper_a6ce15:has([d^="M19.73 4.87"]) {
        background: url("https://minidiscordthemes.github.io/Pesterchum/img/home.avif") center/80% no-repeat $background;
        color: transparent;
    }

    // New and discover icons
    .circleIconButton__05cf2 {
        color: $light;
    }

    // Icon backgrounds
    .childWrapper_a6ce15,
    .wrapper__8436d:hover .childWrapper_a6ce15,
    .wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15,
    .circleIconButton__05cf2 {
        background-color: $background;
    }

    // Folders
    .expandedFolderBackground_b1385f,
    .folder__17546 {
        background: $background;
    }
}
