@use "../top/vars" as *;

// Servers list
.wrapper_fea3ef {
    background: unset;

    // Home and favourite icons
    @at-root .wrapper_f90abb {
        &:is(&, :hover) {
            .childWrapper_f90abb {
                background: $background;
                color: $light;
            }
        }

        // Home icon
        .tutorialContainer_f9623d.tutorialContainer_f9623d .childWrapper_f90abb {
            background: url("https://minidiscordthemes.github.io/Pesterchum/img/home.avif") center/80% no-repeat $background;
            color: transparent;
        }
    }

    // New and discover icons
    .circleIconButton_db6521 {
        color: $light;
    }

    // Icon backgrounds
    .childWrapper_a6ce15,
    .wrapper__8436d:hover .childWrapper_a6ce15,
    .wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15,
    .circleIconButton_db6521 {
        background-color: $background;
    }

    // Folders
    .expandedFolderBackground_bc7085,
    .folder_bc7085 {
        background: $background;
    }
}
