@use "../top/vars" as *;

// Thread split view
.chatTarget_f14a03,
.container__694a1 {
    background: $medium;
}

.chat__1d65d,
.chat__4eed1 {
    padding: 16px;

    &::before {
        display: none;
    }
}

// Floating thread view
.floating__8f631 {
    filter: none;
    border-left: $size-border solid $light;
}

// Resize thread handle
.resizeHandle_cc9d34 {
    width: $size-border * 1.5;
    background: $light;
}
