@use "../top/vars" as *;

// Thread split view
:is(.chatTarget-3H6mpC, .chatTarget-1ROClP),
:is(.container-3XgAHv, .container-3s2w-i) {
    background: $medium;
}

.chat-1-OBC7,
.chat-25x62K {
    padding: 16px;

    &::before {
        display: none;
    }
}

// Floating thread view
:is(.floating-3M3WeH, .floating-1T0kDs) {
    filter: none;
    border-left: $size-border solid $light;
}

// Resize thread handle
:is(.resizeHandle-PBRzPC, .resizeHandle-2F4Beb) {
    width: $size-border * 1.5;
    background: $light;
}
