@use "../top/vars" as *;

// Thread split view
.chatTarget_d1c246,
.container_d1c246 {
    background: $medium;
}

.chat_f57fdc,
.chat_d6c7e0 {
    padding: 16px;

    &::before {
        display: none;
    }
}

// Floating thread view
.floating_d1c246 {
    filter: none;
    border-left: $size-border solid $light;
}

// Resize thread handle
.resizeHandle_d1c246 {
    width: $size-border * 1.5;
    background: $light;
}
