.wordmark-2u86JB:before {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px 9px 3px;
    content: "PESTERCHUM";
    font-weight: 700;
    font-size: 16px;
    color: white;
}
.message-3KLVy1 {
    color: white;
}
.winButton-3UMjdg {
    color: white;
}
