@use "../top/vars" as *;

// Titlebar

// Logo
:is(.wordmark-2u86JB, .wordmark-3wYFg6) {
    visibility: hidden;
    padding: 0;

    &::before {
        visibility: visible;
        padding: 4px 9px 3px;
        content: "PESTERCHUM";
        font-weight: 700;
        font-size: 16px;
        color: $white;
    }
}

// Windows buttons
:is(.winButton-3UMjdg, .winButton-3SigSb) {
    color: $white;
}
