@use "../../top/vars" as *;
@use "../../top/box";

// Adjust channel list width
@import url("https://minidiscordthemes.github.io/Snippets/ChannelListWidth/main.css");
:root {
    --channellist-width: var(--chum-sidebar-width);
}

// Server channels list
.sidebar_e031be {
    // Voice users collapsed
    .overlap__6969e .avatar_a56eee,
    .moreContainer_dd4188 {
        @include box.black;
        border-radius: $size-max;
    }

    // Unread bars
    .bar__004d9 {
        @include box.black;
        border-radius: $size-max;
    }

    // Voice user limit
    .wrapper__71278 {
        .users__65981,
        .total_c01838 {
            background: unset;
        }
        .total_c01838:after {
            content: "/";
            border: 0;
        }
    }

    // Show all voice channels
    .voiceChannelsButton_fd0b98:hover {
        background: unset;
    }
}
