@use "../../top/vars" as *;
@use "../../top/box";

// Server channels list
.container__7e23c {
    $banner-height: calc((var(--chum-sidebar-width) - (2 * 10px) - (2 * 0.5vh)) / 240 * 135);

    // Banner
    .animatedContainer__0e828 {
        height: $banner-height;
    }
    // Prevent banner overlapping outer
    .animatedContainer__0e828,
    .bannerImage_c73a57 {
        transform: none !important;
    }
    .bannerImage_c73a57,
    .bannerImg_fe5c1b {
        width: inherit;
    }
    .bannerImg_fe5c1b {
        height: unset;
    }
    div[style="height: 12px;"] {
        height: calc($banner-height - 48px - 84px) !important;
    }

    // Voice users collapsed
    .overlap__6969e .avatar_a56eee,
    .moreContainer_dd4188 {
        @include box.black;
        border-radius: $size-max;
    }

    // Unread bars
    .bar__004d9 {
        @include box.black;
        border-radius: $size-max;
    }

    // Voice user limit
    .wrapper__71278 {
        .users__65981,
        .total_c01838 {
            background: unset;
        }
        .total_c01838:after {
            content: "/";
            border: 0;
        }
    }

    // Show all voice channels
    .voiceChannelsButton_fd0b98:hover {
        background: unset;
    }
}
