@forward "./userpanel";

@use "../../top/vars" as *;
@use "../../top/box";

// Channels
.sidebar-1tnWFu {
    background: unset;
    padding: 10px;
    gap: 10px;

    --header-primary: #{$white};
    --header-secondary: #{$white};

    --channels-default: var(--channels-alt);
    --channel-icon: var(--channels-alt);

    --interactive-normal: var(--alt-normal);
    --interactive-hover: var(--alt-hover);
    --interactive-active: var(--alt-active);
    --interactive-muted: var(--alt-muted);
    --text-normal: var(--alt-normal);
    --text-hover: var(--alt-hover);
    --text-active: var(--alt-active);
    --text-muted: var(--alt-muted);

    --background-modifier-hover: var(--alt-modifier-hover);
    --background-modifier-active: var(--alt-modifier-active);
    --background-modifier-selected: var(--alt-modifier-selected);
    --background-modifier-accent: var(--alt-modifier-accent);

    // Title
    &::before {
        content: "PESTERCHUM 6.0";
        font-size: 27px;
        font-weight: 700;
        text-align: center;
        color: $white;
    }

    // Actual channels and userarea
    .container-1NXEtd,
    .privateChannels-oVe7HL,
    .panels-3wFtMD {
        @include box.default($BG-COLOR: $black, $BORDER-COLOR: $outer-light);
    }

    // Voice users collapsed
    .overlap-1yhayD .avatar-3FKimL,
    .moreContainer-R0kRGB {
        @include box.default($BG-COLOR: $black);
        border-radius: $size-max;
    }

    // Unread bars
    .bar-wDIGjg {
        @include box.default($BG-COLOR: $black);
        border-radius: $size-max;
    }

    // Voice user limit
    .wrapper-2fEmwW {
        .users-2JoyGL,
        .total-1c5KCN {
            background: unset;
        }
        .total-1c5KCN:after {
            content: "/";
            border: 0;
        }
    }

    // Show all voice channels
    .voiceChannelsButton-SRmgo8:hover {
        background: unset;
    }
}
