@forward "./channellist";
@forward "./userpanel";

@use "../../top/vars" as *;
@use "../../top/box";

// Channels
.sidebar_a4d4d9 {
    background: unset;
    padding: 10px;
    gap: 10px;
    width: var(--chum-sidebar-width);
    box-sizing: border-box;

    // Title
    &::before {
        content: "PESTERCHUM 6.0";
        font-size: 27px;
        font-weight: 700;
        text-align: center;
        color: $white;
    }

    // Actual channels and userarea
    .container_ee69e0,
    .privateChannels_f0963d,
    .panels_a4d4d9 {
        @include box.highlight($background);
    }
}
