@use "../../top/vars" as *;
@use "../../top/box";

.panels-3wFtMD {
    :is(.panel-2ZFCRb, .panel-ufc1-o),
    :is(.container-1zzFcN, .container-2NLBJg),
    :is(.container-YkUktl, .container-1CH86i) {
        background: unset;
    }

    // Button icons
    .button-12Fmur {
        color: $white;
    }

    // Now playing
    :is(.panel-2ZFCRb, .panel-ufc1-o) {
        border-bottom: 0;

        // Name
        .title-338goq {
            color: $white;
        }
    }

    // Voice controls
    :is(.container-1zzFcN, .container-2NLBJg) {
        border-bottom: 0;

        // Channel name
        :is(.channel-3prF2u, .channel-2vy8ff) {
            color: $grey;
        }

        // Activity buttons
        :is(.actionButtons-2vEOUh, .actionButtons-1DmM2g) {
            :is(.button-1EGGcP, .button-2gNyE9):not(.disabledButtonWrapper-1m0hYZ) {
                @include box.default;
                height: 36px;
                color: $black;
                padding: 0;
            }

            // Disabled button
            .disabledButtonWrapper-1m0hYZ {
                height: 36px;

                .contents-3NembX {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    // User controls
    :is(.container-YkUktl, .container-1CH86i) {
        margin-bottom: 0;

        :is(.avatarWrapper-1B9FTW, .avatarWrapper-12uuu4) {
            margin: 0;
            padding-left: 0;
        }
    }
}
