@use "../../top/vars" as *;
@use "../../top/box";

.panels__58331 {
    .panel_bd8c76,
    .container_d667ff,
    .container_ca50b9 {
        background: unset;
    }

    // Button icons
    .button__4f306 {
        color: $white;
    }

    // Now playing
    .panel_bd8c76 {
        border-bottom: 0;

        // Name
        .title__10613 {
            color: $white;
        }
    }

    // Voice controls
    .container_d667ff {
        border-bottom: 0;

        // Channel name
        .channel_d7d412 {
            color: $grey;
        }

        // Activity buttons
        .actionButtons_b58cbb {
            .button__66e8c:not(.disabledButtonWrapper__69c70) {
                @include box.default;
                height: 36px;
                color: $black;
                padding: 0;
            }

            // Disabled button
            .disabledButtonWrapper__69c70 {
                height: 36px;

                .contents_fb6220 {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    // User controls
    .container_ca50b9 {
        margin-bottom: 0;

        .avatarWrapper_ba5175 {
            margin: 0;
            padding-left: 0;
        }
    }
}
