/*vc*/
.listDefault-2F-w65 .clickable-1ctZ-H.selected-1oxcpH .username-vAneIW,
.usernameSpeaking-3FKv6H {
    color: var(--alt-active);
}
.listDefault-2F-w65 .clickable-1ctZ-H:hover .username-vAneIW {
    color: var(--alt-hover);
}
.icon-N9JZb6,
.username-vAneIW {
    color: var(--channels-alt);
}
.wrapper-1gVUIN.minimum-fXpVNc {
    background-color: black;
    margin: 16px;
    margin-bottom: 0px;
    border: 0.5vh solid;
    border-color: var(--p-secondary);
}
